<form action="">
    <div class="input-group">
        <p>
            <label for="initial-investment">Investimento Inicial: </label>
            <input id="inicial-investment" type="number" />
        </p>

        <p>
            <label for="annual-investment">Investimento Anual: </label>
            <input id="annual-investment" type="number" />
        </p>
    </div>

    <div class="input-group">
        <p>
            <label for="expected-investment">Retorno Esperado: </label>
            <input id="expected-investment" type="number" />
        </p>

        <p>
            <label for="duration">Duração: </label>
            <input id="duration" type="number" />
        </p>
    </div>
    <p><button type="submit">Calcular</button></p>
</form>